<nav class=" d-flex align-items-center justify-content-between border-bottom">
    <div>
     <a class="text-dark text-decoration-none" href="">
      <img class=" img-fluid" style="width: 150px;" src="https://cdn.pixabay.com/photo/2014/05/18/10/20/earth-346941_960_720.jpg" >
      <span ><strong>World Countries</strong></span>
     </a>
    </div>
    <div class="d-none d-lg-block">
      <a href="https://tareklb1.github.io/All-LBcities-Info-Weather-/">click here if you are from lebanon</a>
    </div>
  </nav>
  <div class="d-lg-none  text-center my-3">
    <a href="https://tareklb1.github.io/All-LBcities-Info-Weather-/">click here if you are from lebanon</a>
  </div>
  