<div class="bg-light sticky-top">
    <div class="form-group">
      <label for="exampleInputEmail1">Country name</label>
      <input [(ngModel)]="Mycountry.name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="country name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">population</label>
      <input [(ngModel)]="Mycountry.population" type="text" class="form-control" id="exampleInputPassword1" placeholder="population">
    </div>
    <div class="form-check">
    </div>
    
  </div>
