<div class="container mt-2">
     
<searchbar 
           [countries]="Allcountries" 
           (searchbuttonclick)="handlesearchbaremit($event)">
        </searchbar>

        <table style="width: 100%;">
                <tr style="width: 100%;">
                        <td style="width: 80%;">
                                <countries [countries]="Filtercounties" (selectcountry)="handleselectcountry($event)"></countries>
                        </td>
                        <td style="vertical-align: top; width: 20%;">
                                <country-details [Mycountry]="specificcountry"></country-details>
                        </td>
                </tr>
        </table>

</div>
